body {
  font-family: "Open Sans ", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 24px;
  font-weight: 300; }

header {
  min-height: 700px;
  background: url("../img/header-bg.png") top center/cover;
  color: white;
  padding-bottom: 60px; }

.top-line {
  margin-top: 40px; }

.logo {
  font-size: 24px;
  font-weight: 600; }

.phone {
  text-align: right; }

.phone .wrapper .tabs :nth-child(2) {
  margin-left: 5px; }

.phone .wrapper .tabs .tab {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.phone .wrapper .tabs .active {
  color: white;
  border-bottom: none;
  cursor: auto; }

.phone .wrapper .tab_content .tab_item {
  display: none;
  font-size: 24px;
  font-weight: 600; }

.phone .wrapper .tab_content .tab_item:first-child {
  display: block; }

.heading {
  margin-top: 20px; }

.heading h1, .heading h2 {
  margin: 0; }

.offers-cta {
  width: 600px;
  margin-top: 45px;
  position: relative; }
  .offers-cta .wrapper .tabs .tab {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100px;
    color: #4a4a4a;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    cursor: pointer; }
    .offers-cta .wrapper .tabs .tab.active {
      background: white;
      border-radius: 10px;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      cursor: auto; }
      .offers-cta .wrapper .tabs .tab.active::before {
        content: "";
        position: absolute;
        left: 0;
        top: 44px;
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #ebebeb;
        z-index: 1; }
      .offers-cta .wrapper .tabs .tab.active p {
        border-bottom: none; }
        .offers-cta .wrapper .tabs .tab.active p:hover {
          border: none; }
    .offers-cta .wrapper .tabs .tab p {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: inline; }
      .offers-cta .wrapper .tabs .tab p:hover {
        border-bottom: 1px solid #4a4a4a; }
  .offers-cta .wrapper .tab_content {
    display: block;
    position: absolute;
    top: 45px;
    width: 600px;
    padding: 30px 40px;
    background: white;
    border-radius: 10px; }
    .offers-cta .wrapper .tab_content .tab_item p {
      margin: 0 0 28px 0;
      color: #4a4a4a;
      font-size: 18px; }
    .offers-cta .wrapper .tab_content .tab_item .btn {
      display: block;
      width: 50%;
      height: 52px;
      border-radius: 5px;
      background: #ff9500;
      color: white;
      font-size: 18px;
      font-weight: 600;
      line-height: 52px;
      text-align: center;
      -webkit-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      .offers-cta .wrapper .tab_content .tab_item .btn:hover {
        text-decoration: none;
        background: #ffa423; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }
