@charset "UTF-8";
body {
  font-family: "Open Sans ", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

h1 {
  font-size: 40px;
  margin: 0; }

h2 {
  font-size: 24px;
  font-weight: 300; }

header {
  min-height: 100px;
  padding-bottom: 60px;
  background: url("../img/header-bg.png") top center/cover;
  color: white; }

.top-line {
  margin-top: 40px; }

.logo {
  font-size: 24px;
  font-weight: 600; }

.phone {
  text-align: right; }

.phone .wrapper .tabs :nth-child(2) {
  margin-left: 5px; }

.phone .wrapper .tabs .tab {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.phone .wrapper .tabs .active {
  color: white;
  border-bottom: none;
  cursor: auto; }

.phone .wrapper .tab_content .tab_item {
  display: none;
  font-size: 24px;
  font-weight: 600; }

.phone .wrapper .tab_content .tab_item:first-child {
  display: block; }

.heading {
  margin-top: 20px; }

.heading h1, .heading h2 {
  margin: 0; }

.offers-cta {
  margin-top: 45px; }
  .offers-cta .col-md-12 .wrapper {
    width: 450px;
    position: relative; }
    .offers-cta .col-md-12 .wrapper .tabs .tab {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100px;
      color: #4a4a4a;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      cursor: pointer; }
      .offers-cta .col-md-12 .wrapper .tabs .tab.active {
        background: white;
        border-radius: 10px;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        cursor: auto; }
        .offers-cta .col-md-12 .wrapper .tabs .tab.active::before {
          content: "";
          position: absolute;
          left: 0;
          top: 44px;
          display: inline-block;
          width: 100%;
          height: 1px;
          background: #ebebeb;
          z-index: 1; }
        .offers-cta .col-md-12 .wrapper .tabs .tab.active p {
          border-bottom: none; }
          .offers-cta .col-md-12 .wrapper .tabs .tab.active p:hover {
            border: none; }
      .offers-cta .col-md-12 .wrapper .tabs .tab p {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        display: inline;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
        .offers-cta .col-md-12 .wrapper .tabs .tab p:hover {
          border-bottom: 1px dashed #4a4a4a; }
    .offers-cta .col-md-12 .wrapper .tab_content {
      display: block;
      position: absolute;
      top: 45px;
      width: 450px;
      padding: 30px 30px;
      background: white;
      border-radius: 10px; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item p {
        margin: 0 0 28px 0;
        color: #4a4a4a;
        font-size: 18px;
        position: relative;
        margin-left: 40px; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_calendar:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_bubble:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_lab:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_pen:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_bulb:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_clip:before {
        position: absolute;
        top: 3px;
        left: -35px;
        font-size: 22px;
        color: #959595; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item .btn {
        display: block;
        width: 240px;
        height: 52px;
        border-radius: 5px;
        background: #ff9500;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 52px;
        text-align: center;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
        .offers-cta .col-md-12 .wrapper .tab_content .tab_item .btn:hover {
          text-decoration: none;
          background: #ffa423; }
  .offers-cta .col-md-12 .myclearfix {
    display: block;
    height: 430px;
    text-indent: -9999px; }

section.second {
  padding: 55px 0; }
  section.second h1 {
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 50px; }
  section.second form {
    background: #f4f4f4;
    width: 100%;
    padding: 30px;
    border-radius: 10px; }
    section.second form h5 {
      margin: 0 0 25px 0;
      font-size: 22px;
      font-weight: 400;
      color: #5e5e5e;
      line-height: 20px; }
    section.second form input {
      border: none;
      outline: none;
      width: 100%;
      height: 44px;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      margin-bottom: 25px;
      position: relative; }
      section.second form input:focus {
        border: 2px solid #67bc5c; }
      section.second form input::-webkit-input-placeholder {
        font-weight: 300; }
      section.second form input:-moz-placeholder {
        font-weight: 300; }
    section.second form input[name=name]::-webkit-input-placeholder:before {
      font-family: "linecons";
      content: "";
      position: absolute;
      right: 10px; }
    section.second form input[name=name]:-moz-placeholder:before {
      font-family: "linecons";
      content: "";
      position: absolute;
      right: 10px; }
    section.second form input[name=phone]::-webkit-input-placeholder:before {
      font-family: "linecons";
      content: "";
      position: absolute;
      right: 10px; }
    section.second form input[name=phone]:-moz-placeholder:before {
      font-family: "linecons";
      content: "";
      position: absolute;
      right: 10px; }
    section.second form .btn {
      background: #ff9500;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 52px;
      line-height: 32px;
      margin: 0;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      section.second form .btn:hover {
        text-decoration: none;
        background: #ffa423; }

.profy-item {
  margin-bottom: 40px; }

.profy-left i {
  font-size: 50px;
  color: #ff9500;
  margin-left: 40px; }

.profy-right h4 {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #5e5e5e; }
.profy-right p {
  margin-top: 10px;
  font-size: 16px;
  color: #5e5e5e; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }
