body {
  font-family: "Open Sans ", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

h1 {
  font-size: 40px;
  margin: 0; }

h2 {
  font-size: 24px;
  font-weight: 300; }

header {
  min-height: 100px;
  padding-bottom: 60px;
  background: url("../img/header-bg.png") top right/cover;
  color: white; }

.top-line {
  margin-top: 40px; }

.logo {
  font-size: 24px;
  font-weight: 600; }

.phone {
  text-align: right; }

.phone .wrapper .tabs :nth-child(2) {
  margin-left: 5px; }

.phone .wrapper .tabs .tab {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.7);
  cursor: pointer; }

.phone .wrapper .tabs .active {
  color: white;
  border-bottom: none;
  cursor: auto; }

.phone .wrapper .tab_content .tab_item {
  display: none;
  font-size: 24px;
  font-weight: 600; }

.phone .wrapper .tab_content .tab_item:first-child {
  display: block; }

.heading {
  margin-top: 20px; }

.heading h1, .heading h2 {
  margin: 0; }

.offers-cta {
  margin-top: 45px; }
  .offers-cta .col-md-12 .wrapper {
    width: 450px;
    position: relative; }
    .offers-cta .col-md-12 .wrapper .tabs .tab {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 100px;
      color: #4a4a4a;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      cursor: pointer; }
      .offers-cta .col-md-12 .wrapper .tabs .tab.active {
        background: white;
        border-radius: 10px;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        cursor: auto; }
        .offers-cta .col-md-12 .wrapper .tabs .tab.active::before {
          content: "";
          position: absolute;
          left: 0;
          top: 44px;
          display: inline-block;
          width: 100%;
          height: 1px;
          background: #ebebeb;
          z-index: 1; }
        .offers-cta .col-md-12 .wrapper .tabs .tab.active p {
          border-bottom: none; }
          .offers-cta .col-md-12 .wrapper .tabs .tab.active p:hover {
            border: none; }
      .offers-cta .col-md-12 .wrapper .tabs .tab p {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        display: inline;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
        .offers-cta .col-md-12 .wrapper .tabs .tab p:hover {
          border-bottom: 1px dashed #4a4a4a; }
    .offers-cta .col-md-12 .wrapper .tab_content {
      display: block;
      position: absolute;
      top: 45px;
      width: 450px;
      padding: 30px 30px;
      background: white;
      border-radius: 10px; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item p {
        margin: 0 0 28px 0;
        color: #4a4a4a;
        font-size: 18px;
        position: relative;
        margin-left: 40px; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_calendar:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_bubble:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_lab:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_pen:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_bulb:before, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .li_clip:before {
        position: absolute;
        top: 3px;
        left: -35px;
        font-size: 22px;
        color: #959595; }
      .offers-cta .col-md-12 .wrapper .tab_content .tab_item .btn {
        display: block;
        width: 240px;
        height: 52px;
        border-radius: 5px;
        background: #ff9500;
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
        .offers-cta .col-md-12 .wrapper .tab_content .tab_item .btn:hover {
          text-decoration: none;
          background: #ffa423; }
  .offers-cta .col-md-12 .myclearfix {
    display: block;
    height: 430px;
    text-indent: -9999px; }

section.second {
  padding-top: 55px; }
  section.second h1 {
    text-align: center;
    color: #5e5e5e;
    margin-bottom: 50px; }
  section.second form {
    background: #f4f4f4;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 55px; }
    section.second form h5 {
      margin: 0 0 30px 0;
      font-size: 22px;
      font-weight: 400;
      color: #5e5e5e;
      line-height: 20px; }
    section.second form input {
      border: none;
      outline: none;
      width: 100%;
      height: 44px;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      position: relative;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      section.second form input:focus {
        box-shadow: #67bc5c 0 0 0 2px;
        border-radius: 5px; }
      section.second form input::-webkit-input-placeholder {
        font-weight: 400; }
      section.second form input:-moz-placeholder {
        font-weight: 400; }
      section.second form input:focus + label, section.second form input.has-value + label {
        top: -18px;
        left: 0;
        font-size: 12px; }
      section.second form input.is-active + label {
        color: #67bc5c; }
    section.second form .input-group {
      margin-bottom: 30px;
      position: relative;
      text-align: left; }
      section.second form .input-group label {
        position: absolute;
        top: calc(50% - 13px);
        right: 0;
        bottom: 0;
        left: 10px;
        font-size: 18px;
        color: #bcbcbc;
        pointer-events: none;
        transition: all 0.2s ease; }
      section.second form .input-group i {
        position: absolute;
        z-index: 1;
        font-size: 18px;
        color: #bcbcbc;
        right: 10px;
        top: 10px; }
    section.second form .btn {
      background: #ff9500;
      color: white;
      font-size: 18px;
      font-weight: 600;
      height: 52px;
      line-height: 30px;
      margin: 0;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out; }
      section.second form .btn:hover {
        text-decoration: none;
        background: #ffa423; }
      section.second form .btn:focus {
        box-shadow: none; }

.profy-item {
  margin-bottom: 40px; }
  .profy-item.last {
    margin-bottom: 55px; }

.profy-left i {
  font-size: 50px;
  color: #ff9500;
  margin-left: 40px; }

.profy-right h4 {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  color: #5e5e5e; }
.profy-right p {
  margin-top: 10px;
  font-size: 16px;
  color: #5e5e5e; }

.reviews {
  background: url("../img/reviews-bg.png") top center/cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  padding-top: 55px; }
  .reviews h1 {
    text-align: center;
    color: white; }
  .reviews .carousel {
    position: relative; }
    .reviews .carousel .slide {
      display: block;
      max-width: 558px;
      padding: 60px;
      background: white;
      border-radius: 10px;
      margin: 80px auto 107px auto;
      text-align: center;
      position: relative;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
      .reviews .carousel .slide .quote {
        color: #ff9500;
        font-size: 180px;
        font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
        position: absolute;
        top: -80px;
        right: calc(50% - 32px); }
      .reviews .carousel .slide p {
        font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
        font-style: italic;
        font-size: 18px;
        color: #5f5f5f;
        margin: 0; }
        .reviews .carousel .slide p:after {
          content: "";
          display: block;
          width: 80px;
          height: 1px;
          margin: 28px auto 24px auto;
          background: #c2c2c2; }
      .reviews .carousel .slide h5 {
        font-size: 20px;
        color: #5f5f5f;
        font-weight: 400;
        margin: 0; }
      .reviews .carousel .slide .userpic img {
        height: 104px;
        width: 104px;
        border-radius: 100px;
        border: 5px solid rgba(255, 255, 255, 0.05);
        position: absolute;
        right: calc(50% - 52px);
        bottom: -52px; }
    .reviews .carousel .owl-controls .owl-nav {
      position: absolute;
      width: 760px;
      right: calc(50% - 380px);
      top: 225px; }
      .reviews .carousel .owl-controls .owl-nav .owl-prev, .reviews .carousel .owl-controls .owl-nav .owl-next {
        width: 33px;
        height: 33px;
        opacity: 0.2;
        background: url(../img/arrow.svg);
        transition: all 0.2s ease; }
        .reviews .carousel .owl-controls .owl-nav .owl-prev:hover, .reviews .carousel .owl-controls .owl-nav .owl-next:hover {
          opacity: 0.4; }
      .reviews .carousel .owl-controls .owl-nav .owl-prev {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        float: left; }
      .reviews .carousel .owl-controls .owl-nav .owl-next {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        float: right; }

.cta {
  text-align: center;
  padding: 55px 0;
  border-bottom: 1px solid #e1e1e1; }
  .cta h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 30px 0;
    color: #5e5e5e; }
  .cta .btn {
    display: block;
    width: 240px;
    height: 52px;
    margin: auto;
    border-radius: 5px;
    background: #ff9500;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    .cta .btn:hover {
      text-decoration: none;
      background: #ffa423; }

.location {
  padding-top: 55px; }
  .location h1 {
    text-align: center;
    color: #5e5e5e;
    line-height: 1;
    margin: 0;
    margin-bottom: 30px; }
  .location .tabs {
    display: block;
    margin: 0 auto 30px auto;
    width: 210px; }
    .location .tabs .tab {
      width: 105px;
      display: inline-block;
      text-align: center;
      padding: 12px 0;
      line-height: 16px;
      font-size: 16px;
      float: left;
      cursor: pointer;
      transition: all 0.2s ease; }
      .location .tabs .tab.active {
        cursor: auto;
        background: #555555;
        color: white; }
        .location .tabs .tab.active:hover {
          background: #555555; }
      .location .tabs .tab:hover {
        background: #ebebeb; }
    .location .tabs .left {
      border: 1px solid #555555;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .location .tabs .right {
      border: 1px solid #555555;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .location .tabs .tab_content {
      display: block; }

footer {
  padding: 40px 0; }
  footer .footer-phone {
    text-align: right; }
    footer .footer-phone .tabs .tab {
      color: #555555;
      border-bottom: 1px dashed #555555;
      cursor: pointer; }
      footer .footer-phone .tabs .tab.active {
        border-bottom: none;
        cursor: auto; }
    footer .footer-phone .tabs .first {
      margin-right: 5px; }
    footer .footer-phone .tab_content .tab_item {
      color: #555555;
      display: none;
      font-size: 24px;
      font-weight: 600; }
      footer .footer-phone .tab_content .tab_item:first-child {
        display: block; }

.hidden {
  display: none; }
