/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Scre	ens */
@media only screen and (max-width : 1200px) {
	.profy-left i {
		margin-left: 20px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/* section.second .container .row .col-md-8 .text{
		max-width: 344px;
	}*/
	section.second .container .row form {
		max-width: 350px;
		margin: auto;
	}
	.profy-left i {
		margin-left: 40px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header{
		min-height: 750px; 
		margin: auto;
	}

	.logo, .phone {
		text-align: center;
	}
	
	.logo {
		margin-bottom: 35px;
	}

	.heading h1 {
		font-size: 40px;
		text-align: center;
		line-height: 1.2em;
		margin-bottom: 15px;
	}
	.heading h2 {
		font-size: 22px;
		text-align: center;
	}
	.offers-cta .col-md-12 .wrapper, .offers-cta .col-md-12 .wrapper .tab_content .tab_item .btn {
		margin: auto;
	}
	section.second .container .row form {
		max-width: 350px;
	}
	.profy-left i {
		margin-left: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 571px) {
	.offers-cta .col-md-12 .wrapper, .offers-cta .col-md-12 .wrapper .tab_content {
		width: 100%;
	}
	section.second .container .row form {
		width: 350px;
	}
	.profy-left i {
		margin-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 430px) {
	.heading{
		margin-top: 40px;
	}
	.offers-cta .col-md-12 .wrapper .tab_content{
		padding: 30px;
	}
	.offers-cta .col-md-12 .myclearfix {
		height: 480px;
	}
	section.second .container .row form { 
		width: 100%;
	}
	h1 {
		font-size: 30px;
	}
	.profy-left i {
		font-size: 34px;
	}
}
/*iPhone 4*/
@media only screen and (max-width : 320px){
	.offers-cta .col-md-12 .myclearfix {
		height: 550px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}