body {
   min-width: 1300px;
}

/* Header
   ================================================================= */
header .contact-bar {
  width: 100%;
  height: 40px;
  background: #f5f7fa;
  border-bottom: 1px solid #e6e9ed;
}
header .contact-bar .wrap {
  width: 90%;
  margin: auto;
  text-align: center;
}
header .contact-bar .wrap p {
  font-family: 'PT Sans', sans-serif;
  color: #506a85;
  margin: 12px 28px 0 0;
  font-size: 12px;
  float: left;
}
header .contact-bar .wrap .mail-adress:hover {
  color: #00bc9c;
  cursor: pointer;
}
header .contact-bar .wrap .icon {
  margin: 0 0 0 0;
  width: 30px;
  height: 40px;
  display: inline-block;
  background: url("../img/nav-icons-sprites.png") no-repeat;
}
header .contact-bar .wrap .mail {
  background-position: 0 0;
  float: left;
}
header .contact-bar .wrap .phone {
  background-position: -40px 0;
  float: left;
}
header .contact-bar .wrap .facebook {
  background-position: -80px 0;
  float: right;
}
header .contact-bar .wrap .facebook:hover {
  background-position: -80px -60px;
}
header .contact-bar .wrap .google {
  background-position: -120px 0;
  float: right;
}
header .contact-bar .wrap .google:hover {
  background-position: -120px -60px;
}
header .contact-bar .wrap .twitter {
  background-position: -160px 0;
  float: right;
}
header .contact-bar .wrap .twitter:hover {
  background-position: -160px -60px;
}
header .contact-bar .wrap .pinterest {
  background-position: -200px 0;
  float: right;
}
header .contact-bar .wrap .pinterest:hover {
  background-position: -200px -60px;
}
header .contact-bar .wrap .behance {
  background-position: -240px 0;
  float: right;
}
header .contact-bar .wrap .behance:hover {
  background-position: -240px -60px;
}
header .contact-bar .wrap .dribble {
  background-position: -280px 0;
  float: right;
}
header .contact-bar .wrap .dribble:hover {
  background-position: -280px -60px;
}
header .nav-bar {
  height: 112px;
  border-bottom: 1px solid #506a85;
}
header .nav-bar .wrap {
  width: 90%;
  margin: auto;
}
header .nav-bar .wrap .logo {
  display: inline-block;
  float: left;
  width: 161px;
  height: 40px;
  margin-top: 36px;
  background: url("../img/nav-icons-sprites.png") -320px 0;
}
header .nav-bar .wrap .logo:hover {
  opacity: 0.6;
}
header .nav-bar .wrap nav {
  display: inline-block;
  float: left;
  margin: 45px 0 0 95px;
}
header .nav-bar .wrap nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  font-family: 'PT Sans';
  color: #506a85;
  margin: 0 42px 0 0;
  letter-spacing: 0.02em;
}
header .nav-bar .wrap nav a:hover {
  color: #00bc9c;
}
header .nav-bar .wrap .search {
  display: inline-block;
  float: right;
  margin-top: 30px;
  width: 30px;
  height: 40px;
  background: url("../img/nav-icons-sprites.png") 0 -60px;
}
header .nav-bar .wrap .search:hover {
  background: url("../img/nav-icons-sprites.png") -40px -60px;
  cursor: pointer;
}

/* Hero
   ================================================================= */
.hero {
  width: 100%;
  height: 630px;
  background: url("../img/hero.png") center center;
  text-align: center;
}
.hero h1 {
  padding: 180px 0 0 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 78px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.hero p {
  padding: 25px 0 65px 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #a3b1bf;
  letter-spacing: 0.02em;
}
.hero .hero-btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  display: block;
  width: 295px;
  height: 45px;
  margin: auto;
  padding-top: 22px;
  background: url("../img/nav-icons-sprites.png") 0 -110px;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.hero .hero-btn:hover {
  background-position: 0 -185px;
}

/* About
   ================================================================= */
.about {
  width: 90%;
  margin: auto;
  text-align: center;
}
.about h2, .about p {
  display: block;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  letter-spacing: 0.02em;
}
.about h2 {
  padding-top: 120px;
  font-size: 36px;
  font-weight: bold;
  color: #506a85;
}
.about p {
  line-height: 1.5em;
  padding-top: 25px;
  font-size: 18px;
  color: #73879c;
}
.about .items {
  width: 1118px;
  height: 310px;
  margin: 82px auto 0 auto;
}
.about .items .item1, .about .items .item2 {
  margin-right: 25px;
}
.about .items .item {
  display: inline-block;
  width: 356px;
  float: left;
  text-align: left;
}
.about .items .item .icon1, .about .items .item .icon2, .about .items .item .icon3 {
  display: inline-block;
  float: left;
  padding-right: 25px;
  margin-top: 5px;
  width: 61px;
  height: 65px;
  background: url("../img/nav-icons-sprites.png");
}
.about .items .item .icon1 {
  background-position: -320px -60px;
}
.about .items .item .icon2 {
  background-position: -320px -135px;
}
.about .items .item .icon3 {
  background-position: -320px -210px;
}
.about .items .item .text-wrap {
  float: right;
  display: inline-block;
  width: 270px;
}
.about .items .item .text-wrap p, .about .items .item .text-wrap h3 {
  padding: 0;
  margin: 0;
  width: 270px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}
.about .items .item .text-wrap h3 {
  font-size: 26px;
  color: #506a85;
  margin-bottom: 20px;
}
.about .items .item .text-wrap p {
  font-size: 16px;
}

/* Latest works
   ================================================================= */
.works {
  width: 100%;
  background: #f2f5f7;
  text-align: center;
}
.works h2 {
  padding-top: 120px;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: #506a85;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
}
.works p {
  padding-top: 25px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  padding: 25px 0 78px 0;
  margin: 0;
  font-size: 18px;
  color: #73879c;
}
.works .container {
  width: 1170px;
  height: 890px;
  margin: auto;
  clear: both;
}
.works .container .item1, .works .container .item2, .works .container .item3, .works .container .item4, .works .container .item5, .works .container .item6 {
  display: inline-block;
  background: white;
}
.works .container .item1 {
  padding: 0;
  float: left;
  width: 570px;
  height: 502px;
}
.works .container .item2 {
  padding: 0;
  float: right;
  width: 570px;
  height: 502px;
}
.works .container .item3, .works .container .item4, .works .container .item5, .works .container .item6 {
  width: 270px;
  height: 185px;
  float: left;
  margin-top: 80px;
}
.works .container .item3, .works .container .item4, .works .container .item5 {
  margin-right: 30px;
}
.works .container h4 {
  font-size: 20px;
  color: #506a85;
  margin: 24px 0 0 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
}
.works .container h4:hover {
  color: #00bc9c;
  cursor: pointer;
}
.works .container p {
  font-size: 14px;
  color: #73879c;
  margin: 6px 0 0 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02em;
}

/* Proposal
   ================================================================= */
.container {
  width: 100%;
  height: 480px;
  text-align: center;
}
.container h1 {
  padding: 108px 0 0 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #506a85;
  letter-spacing: 0.02em;
}
.container p {
  padding: 25px 0 65px 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #73879c;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}
.container .hero-btn {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: white;
  display: block;
  width: 295px;
  height: 45px;
  margin: auto;
  padding-top: 22px;
  background: url("../img/nav-icons-sprites.png") 0 -110px;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.container .hero-btn:hover {
  background-position: 0 -185px;
}

/* Footer
   ================================================================= */
.footer {
  width: 100%;
  background: #2f4052;
}
.footer .container {
  margin: auto;
  padding-top: 74px;
  width: 1200px;
  height: 300px;
}
.footer .container .block {
  display: inline-block;
  width: 277px;
  height: 200px;
}
.footer .container .block h5 {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer .container .block p {
  float: left;
  margin: 25px 0 0 0;
  padding: 0;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #a3b1bf;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}
.footer .container .block1 .logo {
  margin-top: 25px;
  width: 129px;
  height: 32px;
  background: url("../img/nav-icons-sprites.png") -320px -310px;
}
.footer .container .block1 .logo:hover {
  background-position: -320px -352px;
}
.footer .container .block1 a {
  display: inline-block;
  float: left;
  margin: 15px 0 0 0;
  text-decoration: none;
  color: #a3b1bf;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.footer .container .block1 a:hover {
  color: #00bc9c;
}
.footer .container .block1 a .icon {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url("../img/nav-icons-sprites.png") -234px -320px;
}
.footer .container .block1 a .icon-hover {
  background-position: -234px -345px;
  left: 8px;
}
.footer .container .block2 .wrap {
  margin: 25px 0 0 0;
  padding: 0;
  float: left;
}
.footer .container .block2 .wrap img {
  float: left;
  margin: 0 5px 5px 0;
}
.footer .container .block3 p {
  margin: 20px 0 0 0;
}
.footer .container .block3 .wrap {
  display: block;
  float: left;
  width: 277px;
}
.footer .container .block3 .wrap p {
  display: inline-block;
  margin: 0 0 0 5px;
}
.footer .container .block3 .wrap .mail-adress:hover {
  color: #00bc9c;
}
.footer .container .block3 .wrap .location, .footer .container .block3 .wrap .mobile, .footer .container .block3 .wrap .mail {
  display: inline-block;
  position: relative;
  top: 3px;
  float: left;
  background: url("../img/nav-icons-sprites.png");
  width: 15px;
  height: 15px;
}
.footer .container .block3 .wrap .location {
  background-position: -284px -320px;
}
.footer .container .block3 .wrap .mobile {
  background-position: -284px -345px;
}
.footer .container .block3 .wrap .mail {
  background-position: -259px -320px;
}
.footer .container .block3 .wrap .mail-hover {
  background-position: -259px -345px;
}
.footer .container .block3 .wrap1 {
  margin-top: 20px;
}
.footer .container .block4 p {
  margin: 20px 0 0 0;
}
.footer .container .block4 form {
  display: block;
  float: left;
  margin-top: 20px;
  width: 260px;
  border-radius: 3px;
  border: none;
  background: #4e5c6c;
  padding: 5px;
}
.footer .container .block4 form ::-webkit-input-placeholder,
.footer .container .block4 form :-moz-placeholder,
.footer .container .block4 form ::-moz-placeholder,
.footer .container .block4 form :-ms-input-placeholder {
  color: #a3b1bf;
}
.footer .container .block4 form input[type='email'] {
  display: inline-block;
  float: left;
  position: relative;
  top: 4px;
  left: 6px;
  width: 155px;
  border: none;
  outline: none;
  background: #4e5c6c;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 0.02em;
}
.footer .container .block4 form input[type='submit'] {
  display: inline-block;
  float: right;
  width: 88px;
  height: 30px;
  border-radius: 3px;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
  color: white;
  background: url("../img/nav-icons-sprites.png") -135px -320px;
}
.footer .container .block4 form input[type='submit']:hover {
  background-position: -135px -360px;
}
.footer .container .block1, .footer .container .block2, .footer .container .block3 {
  margin-right: 26px;
}
.footer .footer-bottom {
  width: 100%;
  background: #283645;
}
.footer .footer-bottom .container {
  margin: auto;
  padding-top: 35px;
  width: 1200px;
  height: 50px;
}
.footer .footer-bottom .container p, .footer .footer-bottom .container a {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #707e8c;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.footer .footer-bottom .container .rights {
  float: left;
}
.footer .footer-bottom .container nav {
  display: inline-block;
  float: right;
  width: 381px;
  height: 14px;
}
.footer .footer-bottom .container nav a {
  margin-left: 6px;
}
.footer .footer-bottom .container nav a:hover {
  color: #00bc9c;
}
.footer .footer-bottom .container nav p {
  margin-left: 10px;
}
