@import "bourbon/bourbon"

$dark-grey: #333
$orange: #ff9500
$transition: all 0.2s ease

body
	font-family: "Open Sans ", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised

h1
	font-size: 40px
	margin: 0
h2
	font-size: 24px
	font-weight: 300

header
	min-height: 100px
	padding-bottom: 60px
	color: white
	background: url('../img/header-bg.jpg') top right / cover

.top-line
	margin-top: 40px

.logo
	font-size: 24px
	font-weight: 600

.phone
	text-align: right

.phone .wrapper .tabs .tab
	font-size: 16px
	color: rgba(255,255,255,0.9)
	border-radius: 3px
	cursor: pointer
	padding: 7px 12px
	font-size: 16px	

	&:hover
		background: rgba(255,255,255,0.2)

	span
		border-bottom: 1px dashed rgba(255,255,255,0.6)

.phone .wrapper .tabs .active
	background: white 
	color: #777
	border-bottom: none
	cursor: auto
	pointer-events: none
	padding: 7px 12px
	margin: 0

	&:hover
		background: white 

.phone .wrapper .tab_content
	margin-top: 5px

.phone .wrapper .tab_content .tab_item
	display: none
	font-size: 26px
	font-weight: 600

.phone .wrapper .tab_content :nth-child(2)
	display: block

.heading
	margin-top: 20px

.heading h1, .heading h2
	margin: 0

.offers-cta
	margin-top: 45px

	.col-md-12

		.wrapper
			width: 450px
			position: relative

			.tabs

				.tab
					position: relative
					display: inline-block
					border-radius: 10px
					background: rgba(255,255,255,0.2)
					width: 50%
					height: 100px
					color: #4a4a4a
					text-align: center
					line-height: 45px
					font-size: 16px
					cursor: pointer
					+transition(all 0.10s ease-in-out)

					&:hover
						background: rgba(255,255,255,0.4)

					&.active
						background: white
						text-align: center
						line-height: 45px
						font-size: 16px
						cursor: auto
						border: none
						pointer-events: none

						p.li_paperplane:before
							display: none

						&::before
							content: ''
							position: absolute
							left: 0
							top: 44px
							display: inline-block
							width: 100%
							height: 1px
							background: #ebebeb
							z-index: 1

					p
						display: inline

			.tab_content
				display: block
				position: absolute
				top: 45px
				width: 450px
				padding: 30px 30px
				background: white
				border-radius: 10px

				.tab_item

					p
						margin: 0 0 28px 0
						color: #4a4a4a
						font-size: 18px
						position: relative
						margin-left: 40px

					.li_calendar:before, .li_bubble:before, .li_lab:before, .li_pen:before, .li_bulb:before, .li_clip:before
						position: absolute
						top: 3px
						left: -35px
						font-size: 22px
						color: #959595

					.btn
						display: block
						width: 240px
						height: 52px
						border-radius: 5px
						background: #ff9500
						color: white
						font-size: 18px
						font-weight: 600
						line-height: 50px
						text-align: center
						+transition(all 0.10s ease-in-out)

						&:hover
							text-decoration: none
							background: #ffa423

		.myclearfix
			display: block
			height: 430px
			text-indent: -9999px

section.second
	padding-top: 55px

	h1
		text-align: center
		color: #5e5e5e
		margin-bottom: 50px


	form
		background: #f4f4f4
		width: 100%
		padding: 30px
		border-radius: 10px
		margin-bottom: 55px

		h5
			margin: 0 0 30px 0
			font-size: 22px
			font-weight: 400
			color: #5e5e5e
			line-height: 20px

		input
			border: none
			outline: none
			width: 100%
			height: 44px
			border-radius: 5px
			font-size: 18px
			padding: 10px
			position: relative
			+transition(all 0.10s ease-in-out)

			&:focus
				box-shadow: #67bc5c 0 0 0 2px
				border-radius: 5px

			&::-webkit-input-placeholder
				font-weight: 400

			&:-moz-placeholder
				font-weight: 400

			&:focus + label,
			&.has-value + label
				top: -18px
				left: 0
				font-size: 12px

			&.is-active + label
				color: #67bc5c

		.input-group
			margin-bottom: 30px
			position: relative
			text-align: left

			label
				+position(absolute, calc(50% - 13px) 0 0 10px)
				font-size: 18px
				color: #bcbcbc
				pointer-events: none
				transition: ($transition)

			i
				position: absolute
				z-index: 1
				font-size: 18px
				color: #bcbcbc
				right: 10px
				top: 10px

		.btn
			background: #ff9500
			color: white
			font-size: 18px
			font-weight: 600
			height: 52px
			line-height: 30px
			margin: 0
			+transition(all 0.10s ease-in-out)

			&:hover
				text-decoration: none
				background: #ffa423

			&:focus
				box-shadow: none

.profy-item
	margin-bottom: 40px

	&.last
		margin-bottom: 55px

.profy-left

	i
		font-size: 50px
		color: #ff9500
		margin-left: 40px

.profy-right

	h4
		display: inline-block
		margin: 0
		font-size: 24px
		font-weight: 400
		color: #5e5e5e

	p
		margin-top: 10px
		font-size: 16px
		color: #5e5e5e

.reviews
	background: url('../img/reviews-bg.png') top center / cover
	background-repeat: repeat-x
	background-attachment: fixed
	padding-top: 55px

	h1
		text-align: center
		color: white

	.carousel
		position: relative

		.slide
			display: block
			max-width: 558px
			padding: 60px
			background: white
			border-radius: 10px
			margin: 80px auto 107px auto
			text-align: center
			position: relative
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1)
			-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1)
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1)

			.quote
				color: #ff9500
				font-size: 180px
				font-family: $georgia
				position: absolute
				top: -80px
				right: calc(50% - 32px)

			p
				font-family: $georgia
				font-style: italic
				font-size: 18px
				color: #5f5f5f
				margin: 0

				&:after
					content: ""
					display: block
					width: 80px
					height: 1px
					margin: 28px auto 24px auto
					background: #c2c2c2

			h5
				font-size: 20px
				color: #5f5f5f
				font-weight: 400
				margin: 0

			.userpic

				img
					+size(104px 104px)
					border-radius: 100px
					border: 5px solid rgba(255,255,255,0.05)
					position: absolute
					right: calc(50% - 52px)
					bottom: -52px

		.owl-controls

			.owl-nav
				position: absolute
				width: 760px
				right: calc(50% - 380px)
				top: 225px


				.owl-prev, .owl-next
					width: 33px
					height: 33px
					opacity: 0.2
					background: url(../img/arrow.svg)
					transition: ($transition)

					&:hover
						opacity: 0.4

				.owl-prev
					transform: rotate(-45deg)
					-webkit-transform: rotate(-45deg)
					float: left

				.owl-next
					transform: rotate(135deg)
					-webkit-transform: rotate(135deg)
					float: right

.cta
	text-align: center
	padding: 55px 0
	border-bottom: 1px solid #e1e1e1

	h4
		font-size: 24px
		font-weight: normal
		margin: 0 0 30px 0
		color: #5e5e5e

	.btn
		display: block
		width: 240px
		height: 52px
		margin: auto
		border-radius: 5px
		background: #ff9500
		color: white
		font-size: 18px
		font-weight: 600
		line-height: 50px
		text-align: center
		+transition(all 0.10s ease-in-out)

		&:hover
			text-decoration: none
			background: #ffa423

.location
	padding-top: 55px
	height: 697px

	h1
		text-align: center
		color: #5e5e5e
		line-height: 1
		margin: 0
		margin-bottom: 30px

	.tabs
		display: block
		margin: 0 auto 30px auto
		width: 210px

		.tab
			width: 105px
			display: inline-block
			text-align: center
			padding: 12px 0
			line-height: 16px
			font-size: 16px
			float: left
			cursor: pointer
			transition: ($transition)

			&.active
				cursor: auto
				background: #555555
				color: white

				&:hover
					background: #555555

			&:hover
				background: #ebebeb

		.left
			border: 1px solid #555555
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px

		.right
			border: 1px solid #555555
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px

	.tab_content
		display: block

footer
	padding: 40px 0

	.logo
		color: grey

	em
		color: #999

	.footer-phone
		text-align: right

		.tabs .tab
			font-size: 16px
			color: grey
			cursor: pointer
			padding: 5px 10px
			font-size: 14px	
			border-radius: 3px

			span 
				border-bottom: 1px dashed rgba(1,1,1,0.6)

			&:hover
				background: rgba(0,0,0,0.1)

		.tabs .active
			background: grey
			color: white
			cursor: auto
			pointer-events: none
			padding: 5px 10px
			margin: 0

			span
				border-bottom: none

			&:hover
				background: grey

		.tab_content
			margin-top: 5px

		.tab_content .tab_item
			display: none
			font-size: 24px
			font-weight: 600
			color: grey

		.tab_content :nth-child(2)
			display: block

.hidden
	display: none
